<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <h1>This is my home page</h1>
  {{>nav}}
<a href="/trainings.html"> Trainings</a>
<br />
<div class="box-rounded">
Hello rounded world</div>
Created by {{author}}
</body>
</html>
