<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trainings</title>
</head>
<body>
{{>nav}}
  <h1>This is my Training Page</h1>
I'm so happy qfh djbhf sjbhd sdjh bqsdjh bsjgh
Created by {{author}}
</body>
</html>
